{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ appname }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.png' %}" sizes="any">
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

    <link href="{% static 'css/bootstrap-2.3.2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive-2.3.2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-overrides.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% if settings.sentry_url %}
        {# Load Sentry #}
        <script src="{% static 'js_generated/errors.js' %}"></script>
        <script>
            window.initSentry("{{ settings.sentry_url }}");
        </script>
    {% endif %}

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock content %}
    {% include VERSION|add:"/svg/iconset.svg" %}
</body>
</html>
