{% extends VERSION|add:"/_base.html" %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-2.3.2.min.js' %}"></script>
    <script src="{% static 'js/macquette.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/extended-library-items.js' %}"></script>
    <script src="{% static 'js/library-helper.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui-1.12.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/papaparse-5.0.2.min.js' %}"></script>
    <script src="{% static 'js_generated/editor.js' %}"></script>
    <script>
        const datasets = window.Macquette.datasets
        const questionnaire = window.Macquette.questionnaire
        const calc = {
            run: window.Macquette.calcRun
        }
    </script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.12.1.min.css' %}">
{% endblock %}

{% block content %}
    <div class="nav-container">
        <nav class="nav-main">
            <div id="editor__title"></div>
            <div id="editor__controls">
                <span id="saving_status" class="mr-7 ml-15">Unedited</span>
                <a id="undo">
                    <svg style="width: 1rem; height: 1rem">
                        <use xlink:href="#iconset-undo" />
                    </svg>
                </a>
                <a id="redo">
                    <svg style="width: 1rem; height: 1rem; transform: scaleX(-1);">
                        <use xlink:href="#iconset-undo" />
                    </svg>
                </a>
                <a href="/assessments/">Assessments</a>
                <a href="/libraries/">Libraries</a>
                <a href="{% url 'logout' %}">Log out</a>
            </div>
        </nav>
    </div>

    <div id="macquette-container"></div>
    <div id="title-component-container"></div>

    <script>
        const staticFileResolver = new window.Macquette.StaticFileResolver(`{{ static_urls | safe }}`);

        function initHandler() {
            const featureFlags = [
                {% for feature in features %}'{{ feature }}',{% endfor %}
            ]

            const apiClient = new window.Macquette.HTTPClient();
            initMacquette(apiClient, "{{ user.id }}", {{ assessment.id }}, "{{ appname }}", featureFlags);
        }

        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', initHandler)
        } else {
            initHandler()
        }
    </script>
{% endblock %}
