{% extends VERSION|add:"/_base.html" %}
{% load static %}

{% block extra_head %}
    <style>html, body { background-color: var(--grey-700) }</style>
    <script src="{% static 'js_generated/router.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="mountpoint"></div>

    <script>
    Router.init(
        document.getElementById("mountpoint"),
        { userId: "{{ user_id }}", appName: "{{ appname }}" },
    )
    </script>
{% endblock %}
