<div id="modal-mountpoint"></div>

<div id="module-mountpoint-top"></div>

<hr>
<h3>Heating systems</h3>
<div class="mb-15">
    <span class="add-heating-system-from-lib if-master" style="cursor:pointer"><button class="btn"><i class="icon-plus"></i> Add</button></span>
    <span class="if-not-master"><button class="btn if-not-locked" id="add-heating-system-as-measure"><i class="icon-plus" /> Add new system as a measure</button></span>
</div>
<table id="heating-systems" class="table" style="display:none; width:auto;">
    <tbody>
    </tbody>
</table>

<div id="module-mountpoint-bottom"></div>

<h4>Heating requirements</h4>
<p>Hot water energy requirement       <span key="data.water_heating.annual_waterheating_demand" dp="2" /> kWh/year</p>
<p>Space heating energy requirement       <span key="data.space_heating.annual_heating_demand" dp="2" /> kWh/year</p>
